body {
    background: #E6E6E6;
    font-family: Abel, sans-serif;
    font-weight: bold;
}

h1, h2 {
    font-family: Anton, sans-serif;
    font-weight: bolder;
}

.logo {
    height: 50px
}

.icon-large {
   border: solid 8px white;
    color: white;
    font-weight: 950;
    border-radius: 50%;
    font-family: Anton, sans-serif;
}

.design {
    background-color: #E6563B;
}

.develop {
    background-color: #EB9D3A;

}

.support {
    background-color: #7CB06C;

}

.host {
    background-color: #00ABA9;

}
.card-image{
    padding: 10px;
    background-color: #F0F0F0;
}
.card{
    background-color: #E6E6E6;
    border: none;
}
.icon-small {
    margin: 1vw;
    padding: 1vw;
    font-weight: 950;
    border-radius: 50%;
    font-family: Anton, sans-serif;
}